/* Created by: Marshall
 * Created on: Mar 2022
 * This CSS file defines the style for assignement
*/

.mdl-layout__content {
  padding-left: 100pt;
  padding-right: 100pt;
  padding-top: 100pt;
}

p {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}
h1 {
  color: darkseagreen;
  font-size: 60%;
}
p {
  color: black;
  font-size: 160%;
}
body {
  background-color: powderblue;
}
